

.content {
  margin: 0 auto;
  max-width: 1440px;
  border-radius: 15px;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-right: 50px;
}

.menunav {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav{
  display: flex;
  flex-flow: row wrap;
}

.logo {
  flex-grow: 7;
}

.logoimg{
  text-align: left;
  height: auto;
  width: auto;
}

.menubtnsing{
  font-size: 15px;
  font-weight: bold;
  color: #0065FC;
  margin-left: 25px;
  background-color: white;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
  padding-top: 25px;
  text-align: right;
}



.menubtnacc{
  font-size: 15px;
  border-top: 2px solid #2196F3;
  font-weight: 400;
  color: #0065FC;
  margin-left: 25px;
  background-color: white;
  border-left: none;
  border-bottom: none;
  border-right: none;
  margin-right: 25px;
  padding-top: 25px;
  text-align: right;
}

.menubtnact{
  font-size: 15px;
  font-weight: normal;
  color: black;
  margin-left: 15px;
  margin-right: 15px;
  background-color: white;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
  padding-top: 25px;
  text-align: right;
}

.menu {
  flex-direction: row;
  width: 100%;
}

.text1 {
  margin-top: 25px;
  font-size: 22px;
  font-weight: bold;
}

.text2 {
  font-size: 17px;
  margin-bottom: 10px;
}


.btnfl{
  display: flex;
  margin-right: 20px;
  border-radius: 30px;
}

.btnff{
  display: flex;
  margin-right: 20px;
  border-radius: 30px;
}

.btnfr{
  display: flex;
  margin-right: 20px;
  border-radius: 30px;
}

.menuinfo{
  width:435px;
  padding-bottom: 40px;
}

.btnfp{
  display: flex;
  margin-right: 20px;
  border-radius: 30px;
}

.search-btn {
  color: white;
  width: 90px;
  height: 45px;
  padding-left: 5px;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  background-color: #0065FC;
  font-weight: 700;
  border-radius: 0 15px 15px 0;
}

.search-btn i.fas {
  display: none;
}

.text { 
  font-weight: bold;
}

.gps {
  background-color: #F2F2F2;
  line-height: 45px;
  text-align: center;
  font-size: 16px;
  min-width: 45px;
  height: 45px;
}

.texts {
  padding-left: 20px;
  font-weight: 700;
}

.textsr {
  padding-left: 20px;
  font-weight: 700;
}

.textsp {
  padding-left: 20px;
  font-weight: 700;
}

.search {
  margin-top: 20px;
  display: flex;
  height: 45px;
  border: 1px solid #F2F2F2;
  margin: 10px 0px 30px 0px;
  border-radius: 15px;
  overflow: hidden;
  max-width: 380px;
} 

input {
  font-size: 18px;
  padding-left: 10px;
  text-align: left;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  border: none;
}

.menupplog {
  flex-direction: row;
  width: 100%;
}

.menuppp{
  display: none;
}

.menu1 {
  display:none; 
}

.sideconp{
  display: none;
}

.fa-info {
  color:#0065FC;
  border: 1px solid lightgrey;
  border-radius: 50%;
  height: 5px;
  padding: 7px;
  line-height: 5px !important;
}

a:link {
  color: #0065FC;
  text-decoration: none; 
  decoration: none; 
}
  
a:visited {
  color:black;
  text-decoration: none; 
  decoration: none; 
}

a:hover {
  text-decoration: none;
  color: #0065FC;
}

a {
  font-family: 'Raleway', sans-serif;
  margin:0;
}

p {
  font-family: 'Raleway', sans-serif;
  margin:0;
}

.menuf {
  padding-right: 20px;
  margin-left: 10px;
  padding-top: 6px;
  }
  
.input  {
  height:37px;
  margin-bottom: 20px;
  width:200px;
  }
  
.filter {
  padding-top: 6px;
  font-size: 16px;
  font-weight: bold; 
  }


.nav {
  width: 100%;
  display: grid;
  flex-flow: row wrap;
  }
  
.menup {
  display: none;
  }
  
.menu1 {
  flex-direction: row;
  display: flex;
  flex-flow: row wrap;
  }

.btn1 {
  margin-right: 10px;
  border-radius: 30px;
  width: 180px;
  font-size:17px;
  border-top:1.5px solid lightgray;
  border-bottom:1.5px solid lightgray;
  border-right:1.5px solid lightgray;
  }

.btn2 {
  margin-right: 10px;
  border-radius: 30px;
  width:220px;
  font-size: 17px;
  border-top:1.5px solid lightgray;
  border-bottom:1.5px solid lightgray;
  border-right:1.5px solid lightgray;
  }

.btn3 {
  margin-right: 10px;
  border-radius: 30px;
  width:200px;
  font-size:17px;
  border-top:1.5px solid lightgray;
  border-bottom:1.5px solid lightgray;
  border-right:1.5px solid lightgray;
}

.fasb {
  color: #F2F2F2;
  background-color: #DEEBFF;
  height: 38px;
  width: 45px;
  font-size: 18px;
  line-height: 45px;
  border-radius: 50%;
}

.fas {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-icon i {
  height: 45px;
  text-align: center;
  line-height: 45px;
  border-radius: 50%;
  font-size:1.25em;
  color:#0065FC;
}
 
.sidemaincon {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  flex-wrap:wrap;
  margin-left: 50px;
  margin-right: 30px;
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.maincontext {
  flex-wrap:wrap;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  grid-template-columns: 1fr;
  float: left;
  background-color:#F2F2F2;
  border-radius: 20px 20px 0 0;
  width: 100%;  
  margin-right: 30px;
}
  
.sidecontext {
  margin-right: 50px;
  margin-left: 30px;
  padding-left: 30px;
  border-radius: 20px 20px 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: left;  
  padding-top: 25px;
  background-color:#F2F2F2;  
}
  
.acctext {
  font-size: 22px;
  font-weight: bold;
  margin-left: 30px;
}
  
.acctextside {
  font-size: 22px;
  font-weight: bold;
  margin: 0px 0px 30px 0px;
}

.menuinfo {
  display: flex;
  margin-top: 30px;
  font-size: 17px;
}

.menuinfo1 {
  margin-bottom: 30px;
  margin-left: 15px;
  font-size: 17px;
}
  
.infoimg {
  padding-right: 10px;
  width: 20px;
  height: 20px;
}
  
.diag {
  padding-left: 100px;
}

.fa-chart-line {
  font-size: 20px;
}

  
.maincon {
  display: flex;
  flex-direction: column;
  grid-template-columns: 3fr 1fr;
  flex:65%;
}
      
.main {
  flex-flow: column;
  text-align: center;
  float: left;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 5px 5px;     
}
  
.main2 {
  flex-flow:column;
  text-align: center;
  float: left;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 5px 5px;     
}

.item {
  width: 33%;
  box-shadow: 0 0 5px 0 #aaa;
  margin: 25px 25px 25px 25px;
  background-color: white;
  align-content: space-between;
  border-radius: 20px 20px 20px 20px;
  border:  3px solid white;
}
  
.side {
  margin-right: 50px;
  display: grid;
  flex-direction: column;
  height: 100%;
}
  
.sidecon {
  flex-flow:column;
  margin-right: 40px;
  display: flex;
  flex-direction: column;
  flex: 30%;
}

.sideitem {
  padding-left: 35px;
  height: 100%;
  background-color: #F2F2F2;
  flex-direction: row;
  text-align: center;
  margin: 0px 0px 30px 30px;
}
  
.sideitem2 { 
  padding-left: 35px;
  height: 100%;
  background-color: #F2F2F2;
  flex-direction: row;
  text-align: center;
  margin: 0px 0px 30px 30px;
  border-radius: 0px 0px 20px 20px;
}

.sideimg {
  box-shadow: 0 0 5px 0 #aaa;
  border: 3px solid white;
  border-radius: 20px 0px 0px 20px;
  flex-direction: row;
  float: left;
  height: 120px;
  width: 30%;
}
  
.sideimg2 {
  box-shadow: 0 0 5px 0 #aaa;
  border: 3px solid white;
  border-radius: 20px 0px 0px 20px;
  width: 40%;
  height: 120px;
  width: 30%;
  flex-direction: row;
  float: left;
}
  
.mainps {
  padding-bottom: 5px;
  width: 100%;
  margin-left:10px;
  text-align: left;
  line-height: 0.5;
}
        
.mainp {
  width: 100%;
  margin-left:10px;
  text-align: left;
  line-height: 2;
}
  
.mainpb {
  padding-top: 5px;
  font-size: 17px;
  width: 100%;
  margin-left:10px;
  text-align: left;
  line-height: 1;
  font-weight: bold;
}

.sidep {
  padding-top: 25px;
}

.sidep1 {
  padding-top: 25px;
}

.sidep2 {
  padding-top: 5px;
}


.sidep1 {
  padding-top: 10px;
  font-weight: bold;
}
  
.sidetext {
  box-shadow: 0 0 5px 0 #aaa;
  font-size: 14px;
  margin-left:0px;
  text-align: left;
  background-color: white;
  display: inline-block;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  width: 150px;
  height: 126px;
  border-radius: 0px 20px 20px 0px;
}
  
.stars1 {
  padding-top: 33px;
  color: #0065FC;
}
  
.stars {
  padding-top: 35px;
  color: #0065FC;
}

.stars2 {
  padding-top: 35px;
  color: #0065FC;
}
  
.maintext {
  border: 3px solid white;
  border-radius: 0px 0px 10px 10px;    
}
       
.fa-star{
  font-size: 13px;
  color:#0065FC;
}

.fa-starg{
  color:lightgray;
}

.mainimgl {
  display: flex;
  width: 100%;
  border-radius: 20px 20px 0px 0px;    
  height: 100px;  
}
  
.mainimg {
  display: flex;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 100px;
}
       
.mainimg1 {
  display: flex;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  height: 100px;
}

.textm {
  border-radius: 0px 0px 10px 10px;
  flex-direction: row;
  width: 100%;
}

.showt {
  margin-left: 30px;
  margin-bottom: 30px;
  font-weight: bold;
  border-radius: 20px 20px 20px 20px;
}
  
.showdiv {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  float: left;
  background-color:#F2F2F2;
  border-radius:  0px 0px 20px 20px;
  width: 100%;  
  margin-right: 30px;
  padding-bottom: 30px;
  } 

.activities {
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  width:100%;
  }
       
.actit {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; 
  }
  
.acti {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  }
  
.acti-1 {
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  }

.acti-0 {
  margin-left: 50px;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  }
  
.acti-2 {
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  }

.acti-3 {
  margin-right: 40px;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  }
  
.actitem {
  margin-bottom: 25px;
  background-color: white;
  align-content: space-between;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 0 5px 0 #aaa;
  width: 95%;
  }
  
.actibig {
  border-radius: 20px 20px 0px 0px;
  height: 418px;
  width: 100%;
  }   
  
.actimg {
  object-fit: cover;
  box-sizing: border-box;
  }

.actismall1 {
  border-radius: 20px 20px 0px 0px;
  height: 210px;
  }
  
.actismall2 {
  border-radius: 20px 20px 0px 0px;
  height: 130px;
  width: 100%;
  }
   
.actismall {
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 2px;
  height: 175px;
  width: 100%;
  } 

  .actismall3 {
  border-radius: 20px 20px 0px 0px;
  padding-bottom: 2px;
  height: 165px;
  width: 100%;
  }  
  
.actitextb{
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
  font-weight: bold;
  height:25px;
  padding-left: 15px;
  width:285px;
  width: 100%;
  }
  
.actitext {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
  font-weight: bold;
  height:27px;
  padding-left: 15px;
  width:285px;
  }
  
footer {
  display: flex;
  max-width: 100%;
  }
  
.foot {
  background-color:#F2F2F2;
  flex: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
  }
  
.foot1 {
  float: left;
  display: flex;
  flex-direction:column;
  width:33%;
  padding-bottom: 30px;
  }
  
.about1 {
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 38px;
  }
  
.about {
  margin-left: 38px;
  line-height: 2,3;
  margin-bottom: 13px;
  }


@media (min-width: 1024px) and (max-width: 1366px) {

header{
  margin: 0;
  }

.menu1{
  flex-flow: nowrap;
  }

.sidecon {
  margin-right: 0;
  }

.maincon {
  flex: 100%;
  }

.sidemaincon {
   margin: 0;
  flex-wrap: wrap;
  }


.sideitem {
  height: 100%;
  background-color: #F2F2F2;
  flex-direction: row;
  text-align: center;
  margin: 0;
  margin: 0;
  padding-left: 10px;
  }

.sideimg {
  width:45%;
  }

.sideimg2 {
  width:45%;
  }

.sidecontext {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  }

.sidetext {
  padding-right: 5px;
  padding-left: 5px;
  width:130px;
  }

.activities {
  margin-bottom: 20px;
  margin-left: 0px;
  }

.diag {
  padding-left: 430px;
  }

.side {
  padding-bottom: 30px;
  flex-flow: column;
  text-align: center;
  float: left;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 20px 20px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  }

.stars1 {
  padding-top: 15px;
  }

.sideitem2 {
  margin: 0;
  padding-left: 25px;
  }

.acti-0{
  margin-left: 0px;
  }

.actitem {
  width: 100%;
  }

.acti, .acti-1, .acti-2 .acti-0{
  flex: 100%;
  flex-direction: column;
  }

.actismall, .actismall1, .actismall2, .actismall3, .actibig{
  height:200px
  }

.menubtnact{
  padding-top: 27px;
  }

.menubtnsing{
  padding-top: 27px;
  }
}





  @media (min-width: 768px) and (max-width: 1023px) {
  
header{
  margin: 0;
  }

body {
  width: 100%;
  }

.sidecon {
  margin-right: 0;
    }
    
.maincon {
  flex: 100%;
  }

.sideitem {
  width:80%;
  height: 100%;
  background-color: #F2F2F2;
  flex-direction: row;
  text-align: center;
  margin: 0;
  margin: 0;
  padding-left: 5px;
  }

.stars1 {
  padding-top: 15px;
  }

.diag {
  padding-left: 315px;
  }

.acti {
  flex-direction: column;
  }

.sidecontext {
  margin-top: 20px;
  margin-right: 0;
  margin-left: 0;
  }

.sidetext {
  padding-right: 3px;
  padding-left: 3px;
  width:130px;
  }

.side {
  padding-bottom: 30px;
  flex-flow: column;
  text-align: center;
  float: left;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 20px 20px;
  margin-right: 0px;
  padding-left: 20px;
  padding-right: 20px;
  }

.sideitem2 {
  margin: 0;
  padding-left: 0px;
  }

.item{
  width:25%;
  }

.activities {
  margin-left: 0px;
  margin-bottom: 20px;
  }

.sidemaincon {
  margin: 0;
  flex-wrap: wrap;
  }

.main {
  flex-wrap: wrap;
  width: auto;
  }
    
.btnfr{
  margin-left: 78px;
  margin-top: 10px;
  }

.btnfp {
  margin-top: 10px;
  }

.acti-0{
  margin-left: 0px;
  }

.actitem {
  width: 100%;
  }

.acti, .acti-1, .acti-2 .acti-0{
  flex: 100%;
  flex-direction: column;
  }

.actismall, .actismall1, .actismall2, .actismall3, .actibig{
  height:200px
  }

.menubtnact{
  padding-top: 27px;
  }

.menubtnsing{
  padding-top: 27px;
  }
}


 
@media only screen and (max-width: 376px) {

header{
  margin:0;
  }    

.search {
  margin-left: 20px;
  max-width: 340px;
  }

.menu{
  margin-left: 20px;
  }

.menunav {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  }

.menuf {
  padding-bottom: 10px;
  }

.logo{
  margin-left: 20px;
  width:150px;
  order:1;
  }

.btnaccdiv{
  width:170px;
  order:3;
  text-align: center;
  border-bottom: 3px solid #0065FC;
  }

.btnsingdiv{
  padding-right: 20px;
  text-align: right;
  width:170px;
  order:2;
  }

.btnactdiv{
  border-bottom: 3px solid #F2F2F2;
  text-align: center;
  width:190px;
  order:4;
  }

.fasc{
  font-size: 20px !important;
  }

.mainp{
  line-height: 1.8;
  }

.search-btn span {
  display: none;
  }

.search-btn i.fas {
  display: flex;
  }

.input {
  border: none;
  content: "Mareseille, France";
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  }

button.search-btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #0065FC;
  }

.sidecon{
  margin:0;
  order:1;
  }

.mainpb {
  padding-top: 10px;
  width: 100%;
  margin-left: 10px;
  text-align: left;
  line-height: 1;
  font-weight: bold;
  }

.actitextb {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
  font-weight: bold;
  height: 25px;
  padding-left: 15px;
  width: 285px;
  width: 100%;
  }

.actitext {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
  font-weight: bold;
  height: 25px;
  padding-left: 15px;
  width: 285px;
  width: 100%;
  }

.fa-star{
  font-size: 10px;
  }

.sidetext{
  font-size: 15px;
  padding-left: 7px;
  }

.maincon{
  order: 2;
  }

.fas1{
  background-color: #0065FC;
  padding-top: 2px;
  }

.fa-search{
  padding-bottom: 4px;
  }

.btnfl{
  flex-direction: row;
  display: flex;
  width:155px;
  height: 55px;
  margin-right: 10px;
  border-radius: 30px;
  order:1;
  }

.menuf{
  margin-left: 0;
  }

.btnff{
  height: 55px;
  display: flex;
  margin-right: 10px;
  border-radius: 30px;
  order:2;
  width: 355px;
}

.btnfr{
  flex-direction: row;
  display: flex;
  height: 55px;
  display: flex;
  margin-right: 10px;
  border-radius: 30px;
  order: 1;
  float: left;
  }

.btnfp{
  height: 55px;
  display: flex;
  margin-right: 10px;
  border-radius: 30px;
  order:4;
  }

.menub:hover {
  font-weight: normal;
  border-bottom:2px solid #2196F3;
  padding-top: 15px;
  }

.text1{
  font-size: 15px;
  margin-top: 25px;
  font-size: 23px;
  font-weight: bold;
  }
  
.text2 {
  padding-top: 10px;
  font-size: 17px;
  }

.acctextside {
  font-weight: bold;
  margin: 0px 0px 30px 0px;
  }

.input{
  margin-bottom: 0;
  }

.menubtnacc {
  border-top: none;
  color:#2196F3;
  font-weight: 100;
  padding-bottom: 10px;
  }

.menubtnact {
  color:black;
  font-weight: 100;
  padding-bottom: 10px;
  }

.menup {
  display: flex;
  flex-direction: row;
  width: 100%;
  }

.stars2 {
  padding-top: 35px;
  color: #0065FC;
  }

.stars1 {
  padding-top: 53px;
  color: #0065FC;
  }

.sidep {
  padding-top: 5px;
  }
    
.menub1 {
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
  color: #0065FC;
  background-color: white;
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-top: none;
  }

.sideimg{
  width:40%
  }
  
.sideimg2{
  width:40%
  }

.sideitem  { 
  padding-left: 20px;
  height: 100%;
  background-color: #F2F2F2;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 10px;
  }

.sidecontext {
  margin: 0;
  width: 100;
  border-radius: 0 0 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  float: left;  
  padding-top: 25px;
  background-color:#F2F2F2;  
  }

.sideitem2 { 
  padding-left: 20px;
  height: 100%;
  display: inline-block;
  background-color: #F2F2F2;
  flex-direction: row;
  text-align: center;
  margin: 0 auto;
  border-radius: 0px 0px 0px 0px;
  padding-bottom: 30px;
  }

.menub2 {
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  color: #0065FC;
  background-color: white;
  border-left: none;
  border-bottom: 2px solid #F2F2F2;
  border-right: none;
  border-top: none;
  width: 100%;
  }

.content{
  margin:0 auto;
  }

.navp{
  display: grid;
  flex-direction: row;
  }

.menunavp{
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
    
.sidemaincon {
  flex: auto;
  margin: 0 auto;
  flex-direction: row;
  width: auto;
  }

.side {
  margin: 0 auto;
  flex-direction: column;
  flex: auto;
  }
    
.main, .main2 {
  background-color: white;
  flex: auto;
  flex-direction: column;
  }

.activities {
  flex-direction: column;
  flex: auto;
  margin: 0 auto; 
  margin-top: 30px;
  text-align: center;
  }

.acti, .acti-1, .acti-2 {
  flex: 100%;
  flex-direction: column;
  }

.acti-0{
  margin:0;
  }

.actibig {
  height:100px;
  }

.actismall1{
  height: 100px;
  }

.actismall2{
  height: 100px;
  }

.actismall{
  height: 100px;
  }

.actismall3{
  height: 100px;
  }

.foot {
  background-color: #F2F2F2;
  margin: 0 auto;
  text-align: center;
  flex-direction: column;
  }

.foot1 {
  width:100%;
  margin: 0 auto;
  text-align: left;
  flex-direction: column;
  }

.filter{
  width: 355px;
  }

.menu1 {
  margin-left: 20px;
  display: flex;
  flex-flow: row wrap;
  } 

.diag {
  padding-left: 110px;
  width: 18px;
  }
  
.maincon{
  margin-bottom: 10px;
  background-color: white;
  }

.item {
  margin: 25px 0px 25px 10px;
  background-color: white;
  width: 90%;
  }

.acctext {
  background-color: white;
  }

.actit {
  padding-left: 20px;
  text-align: left;
  padding-bottom: 30px;
  }

.menuinfo {
  width: 355px;
  margin-left: 20px;
  }
  
.maincontext {
  background-color: white;
  }

.showt {
  font-size: 20px;
  background-color: white;
  margin-left: 20px;
  }

.showdiv {
  background-color: white;
  margin-bottom: 10px;
  }

.btn1{
  margin-bottom: 10px;
  width:150px;
  font-size: 15px;
  }

.textsr {
  padding-left: 15px;
  font-weight: 800;
  }

.textsp {
  padding-left: 10px;
  font-weight: 800;
  }

.texts {
  padding-left: 8px;
  font-weight: 800;
  font-size: 15px;
  }

.btn2{
  width: 185px;
  margin-bottom: 10px;
  }

.btn3{
  margin-bottom: 10px;
  width:200px;
  font-size: 15px;
  }

  input {
  padding-left: 10px;
  }

  .btn-icon i {
  height: 43px;
  text-align: center;
  line-height: 43px;
  border-radius: 50%;
  font-size: 1.25em;
  color: #0065FC;
  }

.fas {
  position: relative;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }

  .actitem {
  width: 90%;
  margin-left: 10px;
  }
}

